@mixin flex-center-vert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin reset-list {
    padding-left: 0;
    list-style: none;
}

@mixin heading-top-level {
    font-size: 3rem;
    letter-spacing: 4px;
}